@import url("styles.css");

h2 {
    color: #222;
}

.pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
    justify-content: center;
}

.card {
    list-style: none;
    color: #222;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

.card-title {
    text-transform: capitalize;
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}

.card-subtitle {
    margin-top: 5px;
    color: #555;
    text-transform: capitalize;
}

.card-image {
    z-index: 2;
}

.view-pokemon-form {
    display: none;
}