@import url("styles.css");

h2 {
    margin-top: 10px;
    margin-bottom: 20px;  
    text-align: center;  
}

h3 {
    margin: 10px;
    text-align: center;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

hr {
    margin-top: 50px;
}

p {
    margin: 10px 0px;
    font-size: 16px;
}

a {
    text-decoration: none;
}

body{
    width: 100%;
}

#container {
    padding: 40px 20px 40px 150px;
}
@media only screen and (max-width: 500px) {
    #container {
        padding: 20px 20px 20px 20px;
        margin: 10px 10px;
    }
    h1{
        margin-bottom: 0;
    }
}

#nd-window {
    min-width: 250px;
    background-color: rgba(34, 34, 34, 0.15);
    border: 1px double black;
    border-radius: 10px;
    padding: 10px;
    display: none;
}

#nd-window h2 {
    margin-bottom: 25px;
}

#nd-window-bars {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#photo-and-caption{
    min-width: max-content;
}
@media only screen and (max-width: 500px) {
    #photo-and-caption{
        min-width: 0;
    }
}

#photo-and-caption img{
    margin: 0px 20px 0px 20px;
    width: 400px;
    height: 400px;
    object-fit: contain;
    filter: drop-shadow(1px 1px 2px black);
}
@media only screen and (max-width: 500px) {
    #photo-and-caption img{
        margin: 0;
        width: 100%;
    }
}

#top-section{
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
@media only screen and (max-width: 950px) {
    #top-section {
        flex-wrap: wrap;
    }
}

#top-section h1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#stats {
    margin: 0px 20px 0px 20px;
}
#stats p {
    text-align: start;
}
#stats td{
    text-align: center;
    width: 50px;
}

#attributes-modifier{
    font-weight: bold;
}

#spells{
    text-align: start;
}

.action-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 0.5fr));
    justify-content: center;
}

.spell-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-content: center;
}
@media only screen and (max-width: 650px) {
    .action-list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .spell-list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.action-element {
    border: 1px solid #222;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.1);
}
.action-info {
    width: 100%;
}
.action-info p {
    font-size: 14px;
    margin: 5px 0px;
    justify-content: start;
    align-items: start;
    width: 100%;
    text-align: justify;
}
.action-info table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    text-align: center;
}

.ability-description{
    width: 100%;
    margin-bottom: 40px;
    text-align: justify;
    line-height: 1.5;
}
.ability-description p:nth-child(n+2){
    text-indent: 40px;
    margin-top: 10px;
    line-height: 1.5;
}

.spell-description{
    width: 100%;
    line-height: 1.5;
}
.spell-description p:nth-child(n+2){
    text-indent: 40px;
    margin-top: 10px;
    line-height: 1.5;
}

.action-name{
    display: flex;
}
.action-info h4{
    text-align: center;
    margin-top: 0;
}

#abilities-list p{
    text-align: start;
}

#description p{
    text-align: justify;
    text-indent: 40px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: lighter;
}

#side-buttons-section{
    position: fixed;
    justify-items: center;
    align-items: center;
    width: 140px;
    height: 100%;
    grid-template-rows: repeat(auto-fit, minmax(30px,70px));
}
@media only screen and (max-width: 500px) {
    #side-buttons-section{
        margin-left: -500px;
    }
}

.side-button{
    border: 1px solid #222;
    border-radius: 10px;
    padding: 8px 10px;
    margin: 6px 0px;
    font-size: 14px;
    font-weight: bold;
    width: 85%;
    height: 80%;
    cursor: pointer;
    background-color: #003333;
    color: #D1C9BE;
}
.side-button:hover {
    box-shadow: 0px 0px 4px 2px #333;
}

.window-element{
    margin: 10px;
    min-width: 200px;
}

.progress-bar-background {
    height: 20px;
    border: 2px solid #111;
    border-radius: 4px;
    background-color: #333;
    position: relative;
    width: auto;
    padding: 5px;
}

.progress-bar {
    height: 100%;
    width: 0%;
    justify-content: center; 
    border-radius: 2px;   
    text-align: center;
    font-size: 16px;
    color: white;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 1px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.cr     {background-color: #1a8d1a;}
.hp     {background-color: rgb(200, 0, 0);}
.atk    {background-color: darkgoldenrod;}
.def    {background-color: rgb(150, 150, 150);}
.dmg    {background-color: rgb(211, 56, 0);}
.res    {background-color: rgb(20, 20, 228);}


#side-buttons-section,
#stats-mana,
#stats-deslocamento-w,#stats-deslocamento-h,#stats-deslocamento-f,#stats-deslocamento-d,#stats-deslocamento-c,#stats-deslocamento-s,
#stats-skills,
#stats-vulnerability,#stats-resistances,#stats-immunities,#stats-condition_immunities,
#stats-dark-vision,#stats-blind-sight,#stats-tremor-sense,#stats-true-vision,
#stats-languages,
#abilities,#innate-spells,#innate-spells-attribute,#spells,#legendary-actions,#lair,#lair-actions,#regional-effects,#description
{
    display: none;
}