@import url("styles.css");

h2 {
    margin-top: 5px;
    margin-bottom: 5px;  
    text-align: center;  
}

h3 {
    margin: 10px;
    text-align: center;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

hr {
    margin-top: 50px;
}

p {
    margin: 10px 0px;
    font-size: 16px;
}

a {
    text-decoration: none;
}

#container {
    padding: 40px 40px 40px 120px;
}

#nd-window {
    min-width: 250px;
    background-color: rgba(34, 34, 34, 0.15);
    border: 1px double black;
    border-radius: 10px;
    padding: 10px;
    display: none;
}

#nd-window h2 {
    margin-bottom: 25px;
}

#nd-window-bars {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#photo-and-caption{
    min-width: max-content;
}

#photo-and-caption img{
    max-width: 100%;
    margin: 0px 20px 0px 20px;
}

#photo-and-caption h3{
    margin-top: 0px;
}

#top-section{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

#top-section h1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#stats {
    margin: 0px 20px 0px 20px;
}

#stats p {
    text-align: start;
}

#stats td{
    text-align: center;
    width: 50px;
}

#attributes-modifier{
    font-weight: bold;
}

#spells{
    text-align: start;
}

.action-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: center;
}

.action-element {
    border: 1px solid #222;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.1);
}
.action-info {
    width: 100%;
}
.action-info p {
    font-size: 14px;
    margin: 5px 0px;
    justify-content: start;
    align-items: start;
    width: 100%;
    text-align: justify;
}

.spell-description{
    width: 100%;
}

.spell-description p:nth-child(n+2){
    text-indent: 20px;
    margin-top: 10px;
}

.action-element button {
    margin: 5px 5px 5px 10px;
    font-size: 20px;
}
.action-element button:hover {
    box-shadow: 0px 0px black;
}

.action-name{
    display: flex;
}

.action-info h4{
    text-align: center;
    margin-top: 0;
}

#abilities-list p{
    text-align: start;
}

#description p{
    text-align: justify;
    text-indent: 40px;
    margin-bottom: 20px;
    line-height: 1.4;
    font-weight: lighter;
}


#side-buttons-section{
    position: fixed;
    display: grid;
    border: 1px solid #222;
    border-radius: 0px 0px 5px 0px;
    background-color: #555;
}

.side-button{
    border: 2px solid #222;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 15px 10px;
    font-size: 14px;
    font-weight: bold;
}

#back-button{
}

.window-element{
    margin: 10px;
    min-width: 200px;
}

.progress-bar-background {
    height: 20px;
    border: 2px solid #111;
    border-radius: 4px;
    background-color: #333;
    position: relative;
    width: auto;
    padding: 5px;
}

.progress-bar {
    height: 100%;
    width: 0%;
    justify-content: center; 
    border-radius: 2px;   
    text-align: center;
    font-size: 16px;
    color: white;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 1px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.cr     {background-color: #1a8d1a;}
.hp     {background-color: rgb(200, 0, 0);}
.atk    {background-color: darkgoldenrod;}
.def    {background-color: rgb(150, 150, 150);}
.dmg    {background-color: rgb(211, 56, 0);}
.res    {background-color: rgb(20, 20, 228);}


#stats-mana,
#stats-deslocamento-w,#stats-deslocamento-h,#stats-deslocamento-f,#stats-deslocamento-d,#stats-deslocamento-c,#stats-deslocamento-s,
#stats-skills,
#stats-vulnerability,#stats-resistances,#stats-immunities,#stats-condition_immunities,
#stats-dark-vision,#stats-blind-sight,#stats-tremor-sense,#stats-true-vision,
#stats-languages,
#abilities,#innate-spells,#spells,#legendary-actions,#lair,#lair-actions,#regional-effects,#description
{
    display: none;
}