@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

body {
    background: #f3edd8;
    font-family: rubik;
    margin: 0;
}

.container {
    padding: 40px;
}

h1 {
    color: #003333;
    text-align: center;
    font-size: 54px;
    margin-top: 0;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: #003333;
    margin-top: 0;
}

h3 {
    color: #003333;
}

h4 {
    color: #003333;
}

hr {
    border: 2px solid rgb(80, 80, 80);
}

p {
    color: #003333;
    text-align: center;
    font-size: 18px;
    margin-bottom: 50pt;
}

li {
    color: #003333;
    text-align: center;
    font-size: 18px;
}

a { 
    color: inherit;
} 

table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
    padding: 8px;
}
th {
    background-color: #222;
    color: white;
    letter-spacing: 1px;
}
tr:nth-child(even) {
    background-color: rgb(226, 226, 226);
}
tr:nth-child(odd) {
    background-color: rgb(172, 172, 172);
}

.loading {
    display: block;
    margin: auto;
}

.nd-range {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nd-range p {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
}

.highlight-on-hover{
    cursor: pointer;

}

.highlight-on-hover:hover {
    transform: translateY(-6px);
    box-shadow: 0px 0px 5px 3px #333;
}

#slow-loading-advert {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #22222275;
    z-index: 99;
    display: none;
    justify-content: center;
    align-items: center;
}
#slow-loading-advert div {
    border: 2px solid #222;
    box-shadow: 1px 1px 1px #222;
    background-color: #f3edd8;
    margin: 0;
    padding: 2em;
}
#slow-loading-advert p {
    margin: 0;
    line-height: 1.5;
}
#slow-loading-advert section {
    display: flex;
    justify-content: center;
}
#slow-loading-advert #close-btn {
    position: relative;
    width: 32px;
    right: -100%;
    top: -32px;
    height: 32px;
    opacity: 0.5;
    font-weight: bold;
}
#slow-loading-advert #close-btn:hover {
    opacity: 1;
    box-shadow: 0px 0px 1px #222;
    background-color: #ff000075;
}
#slow-loading-advert form {
    margin: 10px;
}
#slow-loading-advert input {
    border: 1px solid #444;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f3edd8;
}

::-webkit-scrollbar-thumb {
    background: #9bb8b8;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #668080;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #003333;
    cursor: pointer;
    border-radius: 10px;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #003333;
    cursor: pointer;
}

.aberracao              {background-color:rgba(166, 143, 209, 0.6)}
.animal                 {background-color:rgba(233, 156, 105, 0.6)}
.besta_magica           {background-color:rgba(14, 27, 143, 0.4)}
.celestial              {background-color:rgba(69, 179, 226, 0.6)}
.corruptor              {background-color:rgba(177, 36, 34, 0.5)}
.constructo             {background-color:rgba(209, 178, 44, 0.63);}
.dragao                 {background-color:rgba(255, 255, 40, 0.6)}
.elemental              {background-color:rgba(55, 197, 175, 0.6)}
.fada                   {background-color:rgba(235, 166, 172, 0.6)}
.gigante                {background-color:rgba(155, 200, 50, 0.6)}
.gosma                  {background-color:rgba(185, 166, 15, 0.6)}
.humanoide              {background-color:rgba(238, 238, 238, 0.6)}
.humanoide_monstruoso   {background-color:rgba(155, 155, 155, 0.6)}
.inseto                 {background-color:rgba(150, 180, 150, 0.6)}
.morto-vivo             {background-color:rgba(76, 74, 71, 0.6)}
.monstruosidade         {background-color:rgba(226, 119, 194, 0.6)}
.planta                 {background-color:rgba(122, 189, 85, 0.6)}