@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

body {
    background: #f3edd8;
    font-family: rubik;
    margin: 0;
}

.container {
    padding: 40px;
}

h1 {
    color: #003333;
    text-align: center;
    font-size: 54px;
    margin-top: 0;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: #003333;
    margin-top: 0;
}

h3 {
    color: #003333;
}

h4 {
    color: #003333;
}

hr {
    border: 2px solid rgb(80, 80, 80);
}

p {
    color: #003333;
    text-align: center;
    font-size: 18px;
    margin-bottom: 50pt;
}

table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
    padding: 8px;
}
th {
    background-color: #222;
    color: white;
    font-weight: normal;
}
tr:nth-child(even) {
    background-color: rgb(226, 226, 226);
}
tr:nth-child(odd) {
    background-color: rgb(172, 172, 172);
}

.loading {
    display: block;
    margin: auto;
}

.highlight-on-hover{
    cursor: pointer;

}

.highlight-on-hover:hover {
    transform: translateY(-6px);
    box-shadow: 0px 0px 5px 3px #333;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f3edd8;
}

::-webkit-scrollbar-thumb {
    background: #9bb8b8;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #668080;
}

.humanoide          {background-color:#f7f7f7;}
.aberracao          {background-color:#a68fd1;}
.animal             {background-color:#f0a57c;}
.celestial          {background-color:rgb(133, 160, 250)}
.monstro            {background-color:#797067ba}
.planta             {background-color:rgb(137, 250, 102)}
.constructo         {background-color:rgba(209, 178, 44, 0.63);}
.morto-vivo         {background-color:rgb(108, 153, 155)}
.infernal           {background-color:rgb(173, 61, 61)}
.elemental          {background-color:rgb(26, 138, 132)}
.gosma              {background-color:rgb(73, 129, 53)}
.dragao             {background-color:rgb(211, 154, 12)}
.gigante            {background-color:#b2c1c3}